@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
}

/* --- SOLUCIÓN PARA OCULTAR BARRAS DE SCROLL (ESTILO APP MÓVIL) --- */
/* Para Chrome, Safari y Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Para IE, Edge y Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
}

/* --- SOLUCIÓN PARA EL DOBLE OJO EN CONTRASEÑA --- */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

/* 4. ANIMACIONES PERSONALIZADAS */
@keyframes fade-in-up {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in-up { 
    animation: fade-in-up 0.3s ease-out forwards; 
}

@keyframes bounce-in {
    0% { opacity: 0; transform: scale(0.3); }
    50% { opacity: 1; transform: scale(1.05); }
    70% { transform: scale(0.9); }
    100% { transform: scale(1); }
}
.animate-bounce-in { 
    animation: bounce-in 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both; 
}

@keyframes bounce-slow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
.animate-bounce-slow { 
    animation: bounce-slow 2s infinite ease-in-out; 
}

.animate-fade-in { 
    animation: fade-in-up 0.5s ease-out; 
}